*{
    margin: 0;
    padding: 0;
}
body{
    width:1440px;
    background-color:#6e6d6d27; 
    margin: auto;
}

.main-section{
    background-color:#FFFFFF; 

}
/* section-2 style start */
.section-2{
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    margin-bottom: 100px;
}

.section-2 .description{
    width: 50%;
    margin-top: 130px;
}
.section-2 .description h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px; 
    margin-bottom: 16px;
    color: #3A3A3A;
    }
.section-2 .description p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color:#3A3A3A;
}

 .common-btn-style{
    background-color:#E02C6D ;
    width: 250px;
    height: 55px;
    padding: 15px 20px;
    font-family: Poppins;
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
    margin-top: 16px;
    border: none;
    cursor: pointer;
}
 .common-btn-style i{
    margin-left: 10px;
   
}
.section-2 .description .main-btn{
    border-radius: 25px;
}

.section-2 .main-image{
    width: 30%;

}

.section-2 .main-camera{
    width: 440px;
height: 414px;
    margin-top: 30px;
    cursor: pointer;
    transition: transform 0.8s;
}

.section-2 .main-camera:hover{
    transform: scale(1.2);
}

/* section-2 style end */
/* hr{
    color: gray;
    margin-bottom: 10px;
} */

/* section-3 start */

.container{
    display: flex;
    justify-content: center;
}


.card-container{
    display: grid;
    grid-template-columns: repeat( 3, 1fr);
    grid-gap: 30px;
   
  
}
.section-3 h1{
    color: #3A3A3A;
    text-align: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 50px;
    line-height: 70px;
    margin-top:100px ;
    margin-bottom: 30px;
}
.card{
    width: 329px;
    height: 476px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding-bottom: 15px;
}
.card img{
    margin-left: 15px;
    margin-top: 17px;
}
.card-description{
    padding-left: 17px;
}
.card h2{
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 40px;
    margin-top: 10px;
}
.card h3{
    font-style: normal;
    font-weight: normal;
    font-size: 24px; 
    margin: 8px 0;
}
.card .star-icon{
    margin-bottom: 8px;
}
.card .product-des{  
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 143%;
    color: #787885;
    display: flex;
    align-items: center;
    letter-spacing: 0.018em;
}
.card .star-icon i{
   color: orange;
   font-size: 18px;
   margin-right: 2px;
}
/* section-3 end */

/* section-4 style start */
.section-4{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-bottom: 10px;
}

.section-4 .gear-img{
    width: 30%;
}

.section-4 .gear-img img{
    width: 404px;
    height: 270px;
}
.section-4 .featured-product{
    width: 50%;
    margin-top: 25px;
}

.featured-product h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    /* line-height: 70px; */
    margin-bottom: 16px;
    color: #000000;  
}

.featured-product p{
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    color:#3A3A3A;

}
.section-4 .btn-2{
    border-radius: 5px;
}
/* section-4 style end */


/* section-5  style start */
.section-5{
    display: flex;
    justify-content: space-evenly;
   
}
.communication-icon{
    display: flex;
    margin-bottom: 50px;
    width: 30%;
   
}
.shop{
    width: 20%;
    cursor: pointer;
    
}
.shop i{
    color: orange;
    font-size: 30px;
}
.chat{
    cursor: pointer;
    
}
.chat i{
    color: orange;
    font-size: 30px;   
}

.button{
    width: 50%;
}


.button .btn-buy{
    width: 300px;
   padding: 20px 20px;
   margin-right: 15px;
   color: white;
   background-color: orange;
   font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
   cursor: pointer;
}
.button .btn-cart{
    width: 300px;
    padding: 20px 20px;
    color: white;
    background-color: tomato;
    font-size: 18px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    cursor: pointer;

}
/* section-5  style end */

/* footer style start*/

footer{
    background-color: #0A0826;
    height: 400px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-container h1{
    font-family: Poppins;
    font-weight: bold;
    font-size: 40px;
   text-align: center;

}
.footer-container p{
    font-size: 30px;
    text-align: center;
    margin-top: 8px;
}

.social-icon{
   text-align: center;
   margin-top: 30px;
   cursor: pointer;
  
 
}

.social-icon i{
    margin-left:12px;
    font-size: 30px;
    background-color: rgba(121, 120, 120, 0.425);
    padding: 15px;
    border-radius: 50%;
}


/* footer style end */


/*start responsive section-1*

/*start responsive section-1*/






